<html>
<head>
<title>makercalc</title>
<style>
</style>
</head>
<body>
{% block content %}{% endblock content %}
<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript">
var myCallback = function(i, width) {
  var msg = "i: " + i + ", width: " + width + "<br/>";
  $("#content").append(msg);
};

var ADAPT_CONFIG = {
  path: 'css/',

  // false = Only run once, when page first loads.
  // true = Change on window resize and page tilt.
  dynamic: true,

  // Optional callback... myCallback(i, width)
  callback: myCallback,

  range: [
    '0    to 760  = mobile.css',
    '760  to 980  = 720.css',
    '980  to 1280 = 960.css',
    '1280 to 1600 = 1200.css',
    '1600 to 1920 = 1560.css',
    '1940 to 2540 = 1920.css',
    '2540           = 2520.css'
  ]
};
</script>
<script type="text/javascript" src="js/adapt.min.js"></script>
</body>
</html>
