<html>
<head>
<title>makercalc</title>
<style>
</style>
</head>
<body>
{% block content %}{% endblock content %}
<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript">
var myCallback = function(i, width) {
  var msg = "i: " + i + ", width: " + width + "<br/>";
  $("#content").append(msg);
};

var ADAPT_CONFIG = {
  path: 'css/',

  // false = Only run once, when page first loads.
  // true = Change on window resize and page tilt.
  dynamic: true,

  // Optional callback... myCallback(i, width)
  callback: myCallback,

  range: [
    '0px    to 760px  = mobile.css',
    '760px  to 980px  = 720.css',
    '980px  to 1280px = 960.css',
    '1280px to 1600px = 1200.css',
    '1600px to 1920px = 1560.css',
    '1940px to 2540px = 1920.css',
    '2540px           = 2520.css'
  ]
};
</script>
<script type="text/javascript" src="js/adapt.min.js"></script>
</body>
</html>
